*.[pP][nN][gG]
*.[fF][nN][tT]
*.[tT][gG][aA]
*.[tT][eE][xX]
Anims/
Meshes/
Music/
Presets/
SOUND/
Scripts/Content/Cutscene/
Scripts/Content/_externals
Scripts/content/Gothic.src
Scripts/_Compiled/
Scripts/Generated/
Video/
Worlds/
.vscode/
Game.src
